{% extends "base.html" %}
{% block menu %}
{{super()}}

<p class="error">{{error}}</p>
<form action="" method='POST' >
  <p><label>Name: </label> <input type="text" name="name" value="" required>
  <p><label>Date of birth: </label> <input type="text" name="birth" value="" required>
  <p><label>Salary: </label> <input type="text" name="salary" value="" required>

<p><input type="submit" value="Add employee">
</form>

{% endblock %}