{% extends "base.html" %}
{% block menu %}
{{super()}}

{% for data, salary in result %}
<div class="user">
    <div id="department_name">
        <a href="{{ url_for('department', dep_id=data.id)}}" >
            {{ data.name }}
        </a>
        (id: {{data.id}})
    </div>
    <span>average salary:{{salary}}</span>
    <form action="{{ url_for('del_dep', dep_id=data.id)}}" method='GET'>
<input type="submit" value="Delete department">
</form>

       <form action="{{ url_for('edit_dep', dep_id=data.id)}}" method='GET'>
<input type="submit" value="Edit department">
</form>
</div>

{% endfor %}
<form action="/add_dep" method='GET'>
<input type="submit" value="Add department">
</form>

{% for msg in get_flashed_messages() %}
<div class="flash">{{msg}}</div>
{% endfor %}
{% endblock %}