{% extends "base.html" %}
{% block menu %}
{{super()}}

<h1>{{dep_name}}</h1>
{% for data in res %}
<div class="user">
<a href="{{ url_for('profile', user_id=data.id) }}" >
    id: {{data.id}}
    <span> {{ data.name }} </span>

</a>
</div>
{% endfor %}

<form action={{ url_for('add_employee',dep_id=dep_id)}} method='GET' >
<p><input type="submit" value="Add employee">
</form>

<form action={{ url_for('search',dep_id=dep_id)}} method='POST' >
  <p><label>Date of born from: </label> <input type="text" name="first" value="" requied>
  <p><label>Date of born to </label> <input type="text" name="second" value="" requied>

<p><input type="submit" value="search">
</form>

{% endblock %}