{% extends "base.html" %}
{% block menu %}
{{super()}}

<p class="error">{{error}}</p>
<form action="" method='POST' >
<p><label>Enter department name: </label> <input type="text" name="name" value="{{dep_name}}" required>

<p><input type="submit" value="Edit department">
</form>


{% endblock %}