{% extends "base.html" %}
{% block menu %}
{{super()}}

<div class="user">
  ID: <strong>{{res.id}}</strong><br>
  Name: <strong>{{res.name}}</strong><br>
  Department: <strong>{{name_of_department}}</strong><br>
  Date of birth: <strong>{{res.date_of_birth}}</strong><br>
  Salary: <strong>{{res.salary}}</strong><br>
</div>

<form action={{url_for('del_profile', profile_id=res.id)}} method='GET' >
<p><input type="submit" value="Delete employee">
</form>

<form action={{url_for('edit_profile', profile_id=res.id)}} method='GET' >
<p><input type="submit" value="Edit profile">
</form>

{% endblock %}