{% extends "base.html" %}
{% block menu %}
{{super()}}

{% for data in res %}
<div class="user">
<a href="{{ url_for('profile', user_id=data.id) }}" >
    id: {{data.id}} Name: <strong>{{ data.name }}</strong>
</a>
</div>
{% endfor %}

{% endblock %}